@model AddBookModel
@{
    ViewData["Title"] = "Add Book";
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Add Book</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Book</li>
                </ol>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row g-4">
            <!--begin::Col-->
            <div class="col-12">
                <div class="callout callout-info">
                    For detailed documentation of Form visit
                    <a href="https://getbootstrap.com/docs/5.3/forms/overview/"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="callout-link">
                        Bootstrap Form
                    </a>
                </div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6">
                <!--begin::Quick Example-->
                <div class="card card-primary card-outline mb-4">
                    <!--begin::Header-->
                    <div class="card-header"><div class="card-title">Add a new book</div></div>
                    <!--end::Header-->
                    <!--begin::Form-->
                    <form asp-antiforgery="true" asp-area="Admin" asp-controller="Books"
                          asp-action="Add" method="post">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="mb-3">
                                <label asp-for="Title" class="form-label">Book Title</label>
                                <input type="text"
                                       class="form-control"
                                       asp-for="Title"
                                       aria-describedby="titleHelp" />
                                <div id="titleHelp" class="form-text">
                                    Provide a friendly title
                                </div>
                            </div>
                            <div class="mb-3">
                                <label asp-for="AuthorId" class="form-label">Author</label>
                                <input type="text" class="form-control" asp-for="AuthorId" />
                            </div>
                        </div>
                        <!--end::Body-->
                        <!--begin::Footer-->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <!--end::Footer-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Quick Example-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content-->